<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Master" tabIcon="md-contact"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Lassos" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Alaram" tabIcon="md-alarm"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Sync" tabIcon="md-sync"></ion-tab>
</ion-tabs>
