<ion-header>
  <ion-navbar>
    <ion-title class="titlee">
      Alaram
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list >
        <button tappable *ngFor="let item of items" (click)="doClick()" ion-item  icon-start >
        
          <div class="user-avatar" item-end>
            <img [src]="item.image" class="circle-pic">
          </div>
          {{item.title}}
          <ion-icon name="ios-arrow-forward" item-end style="color: #dedede"></ion-icon> 
        </button>
        
      </ion-list>
</ion-content>
