
<ion-header>
  <ion-navbar>
    <ion-title class="titlee">New Master <a class="a" >Save </a></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item >
      Kerry Park
    </ion-item>
    <ion-item >
      Attach Photo
      <div class="user-avatar" item-end>
        <img src="../assets/imgs/profile3.jpg" class="circle-pic">
      </div>
      <ion-icon name="ios-arrow-forward" item-end style="color: #dedede"></ion-icon> 
    </ion-item>
    <ion-item >
      Phone
      <ion-note item-end>
        1-818-234-0981
      </ion-note>
      <ion-icon name="ios-arrow-forward" item-end style="color: #dedede"></ion-icon>
    </ion-item>
</ion-list>
</ion-content>
