<!--
  Generated template for the NewLessoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title class="titlee">New Lesso <a class="a" >Save </a></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list>
        <ion-item >
          Name Here
        </ion-item>
        <ion-item >
          Attach Photo
          <div class="user-avatar" item-end>
            <img src="../assets/imgs/default.png" class="circle-pic">
          </div>
          <ion-icon name="ios-arrow-forward" item-end style="color: #dedede"></ion-icon> 
        </ion-item>
        <ion-item >
          Alram at distance more than
          <ion-note item-end>
            25m
          </ion-note>
          <ion-icon name="ios-arrow-forward" item-end style="color: #dedede"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>
