<ion-header>
  <ion-navbar>
    <ion-title class="titlee">
      Registered Lessos
      <a class="a" tappable (click)="doClick()" > Add </a>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item tappable *ngFor="let item of items" >
            <div class="user-avatar" item-start>
                <img [src]="item.image" class="circle-pic">
              </div>
              <ion-icon name="ios-arrow-forward" item-end style="color: #dedede"></ion-icon>
          {{item.title}}
        </ion-item>
      
    </ion-list>

</ion-content>
