
<ion-header>

  <ion-navbar>
    <ion-title class="titlee">David's Alaram</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item *ngFor="let item of items">
            {{item.title}}
              <div class="user-avatar" item-start>
                <img [src]="item.image" class="circle-pic">
              </div>
            <ng-container *ngIf="item.isChecked"  item-end>
            <ion-icon name="md-checkmark"  style="color: #15b17f"></ion-icon>
            </ng-container>
        </ion-item>
    </ion-list>
</ion-content>
