
<ion-header>

  <ion-navbar>
    <ion-title class="titlee">Master Devices <a class="a" tappable (click)="doClick()"> Add </a></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <button tappable ion-item  icon-start *ngFor="let item of items" >
        
          <div class="user-avatar" item-end>
            <img [src]="item.image" class="circle-pic">
          </div>
          {{item.title}}
          <ion-icon name="ios-arrow-forward" item-end style="color: #dedede"></ion-icon> 
        </button>
       </ion-list>
</ion-content>
