<!--
  Generated template for the Sync2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>User Sync</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div class="user-avatar" item-end class="center">
        <img src="../assets/imgs/sync.png">
        <h5>Syncing Lassos & Alaram Setting</h5>
      </div>

</ion-content>
