<ion-header>
  <ion-navbar>
    <ion-title class="titlee">Master Devices <a class="a" (click)="openNavDetailsPage(item)"> Add </a> </ion-title>
    
  </ion-navbar>
  
</ion-header>

<ion-content padding>
  <ion-list>
    
    <button ion-item *ngFor="let item of items" (click)="openNavDetailsPage(item)" icon-start>
      <!-- <ion-icon [name]="'logo-' + item.icon" [ngStyle]="{'color': item.color}" item-start></ion-icon> -->
      <div class="user-avatar" item-end>
        <img [src]="item.image" class="circle-pic">
      </div>
      {{ item.title }}
      <ion-icon name="ios-arrow-forward" style="color:#dedede" item-end></ion-icon> 
    </button>
  </ion-list>
  
</ion-content>
